@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-image: url("https://plus.unsplash.com/premium_photo-1717972599101-33a39b433362?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: rgb(202, 217, 40);
  font-size: 3em;
}

#table {
  margin: 25px auto;
  width: 100%;
  max-height: 70%;
  overflow: hidden;
}

.cells {
  width: 10%;
  display: inline-block;
  margin: 1px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
  font-size: 1.2em;
  cursor: pointer;
}

.inEvidenza {
  background-color: rgb(158, 157, 159);
  color: white;
}

#extraction-button {
  padding: 15px 25px;
  font-size: 1.2em;
  background-color: rgb(245, 103, 158);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

#extraction-button:hover {
  background-color: silver;
}
